# Python/Django
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env
db.sqlite3
media/backups/*.sql

# Node/React
node_modules/
build/
dist/
.eslintcache
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos grandes
*.zip

# Claude Code
.claude/

# IDEs y Sistema
.vscode/
.idea/
.DS_Store
Thumbs.db

# Archivos de configuración local
*.local